{% extends 'home.html'%}
{% block title%}Рассылки{% endblock %}
{% load static %}
{% block content %}
<div class="container col-8">

    <div class="card-header">
        <h2 class="my-0 font-weight-normal text-center">Рассылки (панель модератора)</h2>

    </div>
    <div class="container  text-center ">


        <table class="table">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Имя</th>
                <th scope="col">Статус</th>
                <th scope="col">Владелец</th>
                <th scope="col">. . .</th>
                <th scope="col">Создана</th>


            </tr>
            </thead>
            <tbody>

            {% for ns in newsletters %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ ns.name }}</td>
                <td>{{ ns.get_status_display }}</td>
                <td>{{ ns.owner }}</td>


                <td>
                    <a href="{% url 'mailing:manager_newsletter' ns.pk %}" class=" btn btn-outline-dark btn-sm">Редактировать</a>

                </td>
                <td>{{ ns.created_at }}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        <a class="p-2 btn btn-outline-dark fixed-size-btn" href="{% url 'mailing:manager_all_users' %}">Пользователи</a>
    </div>
</div>

{% endblock %}