{% extends 'home.html'%}
{% block title%}Изменение статуса рассылки{% endblock %}

<h1>Изменение статуса рассылки</h1>

<form action="" method="post">
    {% csrf_token %}
    <div>
        <label for="id_status">Новый статус:</label>
        <select name="status" id="id_status">
            {% for value, label in status_choices %}
                <option value="{{ value }}">{% ifequal newsletter.status value %}{{ label }} (текущий){% else %}{{ label }}{% endifequal %}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit">Изменить статус</button>
</form>