
{% extends "home.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block content %}
<div style=" display: flex; justify-content: center; align-items: center; height: 70vh; ">
    <div> <!-- Обертка вокруг контента -->
        <p><h2>{% translate "Пароль успешно изменён!" %}</h2>
        <p><h2 > Теперь можете <a href="{{ login_url }}">{% translate 'Log in' %} !</a></h2>
    </div>
</div>
{% endblock %}